---
import { SITE } from 'astrowind:config';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 font-bold text-gray-900 dark:text-white leading-none">
  <span class="text-lg md:text-xl">{SITE?.name}</span>
</span>
